
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(25, 0, 165);
}

header {
    background: url('bat.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin: 5px
  }
}